.app-logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #dc3545;
    background: linear-gradient(to right, #dc3545, lightblue);
    -webkit-background-clip: text;
    color: transparent;
}

.water-icon {
    margin-left: 10px;
    color: lightblue;
}

body {
    margin-bottom: 20px;
}

