<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administracija kviza - {{ quiz_name }}</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body class="bg-light">

{% include 'navbar.html' %}

<div class="container mt-5">
    <h4 class="text-center">{{ quiz_name }}</h4>
    <form method="POST" action="{{ url_for('admin.list_questions', quiz_id=quiz_id) }}">
        {{ edit_quiz_form.hidden_tag() }}
        <div class="container mt-3 mb-2">
            <div class="form-group row">
                <label for="new_quiz_name" class="col-sm-3 col-form-label">Novi naziv kviza:</label>
                <div class="col-sm-7">
                    <input type="text" id="new_quiz_name" name="new_quiz_name" class="form-control" value="{{ edit_quiz_form.new_quiz_name.data }}">
                </div>
                <div class="col-sm-2">
                    {{ edit_quiz_form.submit(class="btn btn-success") }}
                </div>
                </div>
        </div>
    </form>

    <div class="container mt-4 mb-2">
    <!-- Dodaj pitanje -->
    <a href="{{ url_for('admin.add_question', quiz_id=quiz_id) }}" class="btn btn-info mb-3">Dodaj pitanje</a>

    <!-- Prikaz pitanja s gumbima za izmjenu i brisanje -->
    <table class="table" id="questionsTable">
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.question_text }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_question', quiz_id=quiz_id, question_id=question.id) }}" class="btn btn-warning btn-sm">Uredi</a>
                </td>
                <td>
                    <a href="{{ url_for('admin.delete_question', quiz_id=quiz_id, question_id=question.id) }}" class="btn btn-danger btn-sm">Izbriši</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-secondary mt-3 mb-5" href="{{ url_for('admin.admin_dashboard') }}">Povratak na popis kvizova</a>
</div>
</div>
{% include 'footer.html' %}

<!-- Inicijalizacija datatablice, hrvatski jezik -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#questionsTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Croatian.json"
            }
        });
    });
</script>

</body>
</html>
