<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odaberi kviz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />

</head>
<body class="bg-light">

{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Forma za selektiranje kviza -->
                    <form method="POST" action="{{ url_for('admin.select_quiz') }}">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="quiz" class="font-weight-bold">Odaberi kviz:</label>
                            <select class="form-control" name="quiz" required>
                                {% for quiz in quizzes %}
                                    <option value="{{ quiz.id }}">{{ quiz.quiz_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Nastavi</button>
                    </form>
                    <!-- Kraj forme -->
                </div>
                <div class="card-footer text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
