<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('views.root') }}">
            <i class="fas fa-fire fire-icon" style="color: red;"></i>
            <span class="app-logo">FirefighterQuiz</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.quiz_statistics_all') }}">Statistika kvizova</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.profile') }}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.logout') }}">Odjava</a>
                    </li>
                    {% if current_user.is_admin %}
                        <!-- Prikaz admin dijela samo adminu -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_dashboard') }}">Admin</a>
                        </li>
                    {% endif %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
