<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirefighterQuiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-welcome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />

</head>
<body>
{% include 'navbar.html' %}

<div class="container-welcome text-center">
    <h1 class="welcome-text text-dark">Želiš li biti vatrogasac, <span style="color: #dc3545;">{{ current_user.first_name }}</span>?</h1>
    <div class="quiz-links mt-4 mx-auto">
        {% for quiz in quizzes %}
            <a href="{{ url_for('views.quiz', quiz_id=quiz.id) }}" class="quiz-block">
                <div class="quiz-link">{{ quiz.quiz_name }}</div>
            </a>
        {% endfor %}
    </div>
</div>


{% include 'footer.html' %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
